
  <!-- NOM content ********************************************-->
  <section id="nom-content">
    <header class="major">
      <h2>nom</h2>
    </header>
    <p>The Design Methodology II course prompt is simply to find a problem that inspires your team and design a solution for it. The course is graded on the final presentation (or pitch) of your team’s idea to fellow classmates and professors, which is then voted on by your peers. Our team was passionate about helping college students cook healthy meals, save money and maybe avoid the freshman fifteen.</p>

    <p class="special process-image"><img src="images/projects/nom/surveyResults.png" alt="nom - process photo"/></p>
    <p class="caption">Through surveys, personal food journals and interviews with other college students we synthesized some of the major pain points associated with their current cooking experiences.</p>

    <p class="pull-quote">Limited kitchen supplies, ingredients, and space all play roles in the way students choose to cook and plan meals for themselves.</p>

    <p>Undergraduate students living off campus have a difficult time finding affordable, healthy and easy to make meal options. Limited kitchen supplies, ingredients, and space all play roles in the way students choose to cook and plan meals for themselves. Taking time to cook a meal each day currently seems like a daunting task with a hectic school schedule, which can result in spending more money eating out.</p>

    <p class="special process-image"><img src="images/projects/nom/brandAffinityMap.png" alt="nom - process photo"/></p>
    <p class="caption">We put together core attributes that we felt our brand needed to possess in order to reach our target market.</p>

    <p class="pull-quote">Our team created nom, a set of products designed to improve the cooking experience and make it more approachable for college students.</p>

    <p class="special"><img src="images/projects/nom/nom-logo.png" alt="nom - process photo"/></p>

    <p>Our team created nom, a set of products designed to improve the cooking experience and make it more approachable for college students. The “just add protein” kits come with detailed instructions and perfectly portioned ingredients for a single serving. Recipes can also be found inside the mobile application with step by step instructions and helpful tips explaining each ingredient being used. Most students living on or off campus have limited kitchen supplies, so we created utensil kits and basic spice kits that include flavor profiles and popular cuisines on the label.</p>

    <p class="special process-image"><img src="images/projects/nom/app-process.png" alt="nom - process photo"/></p>
    <p class="caption">The application design went through multiple phases of scenario mapping, wireframes and higher fidelity mock ups.</p>

    <p class="special process-image"><img src="images/projects/nom/nom-process-packaging.png" alt="nom - process photo"/></p>
    <p class="special process-image">
      <iframe src="https://player.vimeo.com/video/75826186?byline=0&portrait=0" width="600" height="337" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/75826186">nom App Demo</a> from <a href="https://vimeo.com/chackerman">Chad Ackerman</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </p>

    <p>Both the packaging and application designs resulted in prototypes for the final presentation. nom was voted in as a finalist and was presented to other professors and students in the design college at the end of the course.</p>
  </section>

  <!-- NITELIFE content ********************************************-->
  <section id="nitelife-content">
    <header class="major">
      <h2>NiteLife</h2>
    </header>
    <p>NiteLife was founded on the desire to have a better experience finding where to go out at night. <b>Dave Johnson, Matt Regnold, Britney Bogard (my fellow co-founders)</b> and myself could not find an existing solution that fulfilled our needs, so we created one.</p>


    <p class="pull-quote">We couldn’t find a product that gave bar and club owners the opportunity to directly market and connect with their customers, or give consumers an on-the-go solution that provided them the information they actually cared about.</p>

    <p class="special process-image">
      <!-- Early product video. -->
      <iframe src="https://player.vimeo.com/video/51652357?byline=0&portrait=0" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/51652357">NiteLife Promotional Video</a> from <a href="https://vimeo.com/user14148851">NiteLife</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </p>
    <p class="caption">NiteLife was origninally NiteLifeCam, with the concept of installing cameras inside of venues so that users could see what the crowd was like before going out. This was our teaser video we used to guage interest and collect early adopters' emails.</p>

    <p>We couldn’t find a product that gave bar and club owners the opportunity to directly market and connect with their customers, or give consumers an on-the-go solution that provided them the information they actually cared about. The team went through many iterations when we first started talking about NiteLife: putting cameras inside of bars to let the users know what the crowd was like, hailing a cab through the app (sound familiar?), providing happy hour information by neighborhoods and many more.</p>

    <p class="special process-image">
      <div class="row">
        <img class="8u 8u(medium) 12u(small) 12u(xsmall)" src="images/projects/nitelife/nl-interaction_diagram.png" alt="NiteLife - process photo"/>
        <img class="4u 4u(medium) 12u(small) 12u(xsmall)" src="images/projects/nitelife/nl-beta.png" alt="NiteLife - process photo"/>
      </div>
    </p>
    <p class="caption">Everyday in class, at the gym or out at bars we were sketching ideas about what we wanted to NiteLife to be and how we could improve.</p>

    <p>The first version of NiteLife was a simple web application with the ability to view venues and their happy hour specials nearby. We went from a web application to a full iOS application within 8 months while the two main developers were on opposite coasts interning. Overtime we added features based on user feedback and added two members to our team, the Hoop siblings, to help us with marketing, design and copy writing.</p>

    <blockquote class="twitter-tweet" lang="en" align="center"><p lang="en" dir="ltr">Shout out to UC DAAP student Chad Ackerman (<a href="https://twitter.com/chackerman">@Chackerman</a>) for creating a great new App: NiteLife <a href="http://t.co/TXOTlRG3It">http://t.co/TXOTlRG3It</a></p>&mdash; Santa J. Ono (@PrezOno) <a href="https://twitter.com/PrezOno/status/420670020696297472">January 7, 2014</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p class="caption">This day alone we had over 100 downloads, needless to say, was considerably more than our previous single day high.</p>

    <p>We pursued many different marketing campaigns including social media marketing, promotional videos, ‘free’ download cards and partnerships with local venues for events. Ultimately, our biggest successes in marketing was a tweet from the President of the University of Cincinnati who is extremely popular with the students on social media. President Ono’s tweet not only gave us a huge spike in downloads, but also an <a href="http://www.soapboxmedia.com/innovationnews/012114-new-nitelife-app-makes-cincinnati-bar-hopping-cheaper-and-easier.aspx">interview with a local Cincinnati blog</a>. Tools like Hootsuite and advertising platforms through Facebook and Twitter enabled us to easily reach our target market with little to no advertising experience.</p>

    <p class="special process-image">
      <div class="row">
        <img class="3u 3u(medium) 6u(small) 12Our core fOu(xsmall)" src="images/projects/nitelife/nl-homepage.png" alt="NiteLife - process photo"/>
        <img class="3u 3u(medium) 6u(small) 12u(xsmall)" src="images/projects/nitelife/nl-barpage.png" alt="NiteLife - process photo"/>
        <img class="3u 3u(medium) 6u(small) 12u(xsmall)" src="images/projects/nitelife/nl-favorites.png" alt="NiteLife - process photo"/>
        <!-- <img class="4u 4u(medium) 12u(small) 12u(xsmall)" src="images/projects/nitelife/nl-regions.png" alt="NiteLife - process photo"/> -->
        <img class="3u 3u(medium) 6u(small) 12u(xsmall)" src="images/projects/nitelife/nl-taxis.png" alt="NiteLife - process photo"/>
      </div>
    </p>
    <p class="caption">NiteLife 1.3 iOS app screenshots.</p>

    <p>By the time NiteLife shut down we had over 1,000 downloads and active users in the Cincinnati area. Shortly after graduation we decided to close up shop and pursue other career opportunities. A lot of mistakes were made as we built our first business, but the amount we learned from the experience was more than worth the effort. Some things I would do differently if I had the chance:
      <ul>
        <li><b>Test more often.</b> Due to our time constraints we weren’t able to move as quickly as we would have liked. Testing concepts and designs with end users would have allowed us to make decisions and build features more quickly.</li>
        <li><b>Utilize existing platforms (Google, Yelp, Foursquare).</b> We followed the “nail it before you scale it” mantra, but possibly to a fault. All of NiteLife’s data was manually added by us, which was limited to information online or who would answer our phone calls.</li>
      </ul>
    </p>
  </section>

  <!-- hsrTool content ********************************************-->
  <section id="hsrTool-content">
    <header class="major">
      <h2>Hospital Scan Room Tool</h2>
    </header>
    <p>The GE Global Research Center (GRC) funded a project through GE Digital to build a web based prototype for proof of concept. This was my first project at GE and possibly the freakin' coolest things I have ever worked on due to its domain and the technology we were using.</p>

    <p class="pull-quote">No matter how advanced medical technology has become, there remain constraints in the environment they are installed and operated in.</p>

    <p class="special process-image"><img src="images/projects/hsrTool/CTscanner.png" alt="HSR Tool - process photo"/></p>
    <p class="caption">GE Discovery CT</p>

    <p>There are constant advances in medical technology that improve imaging, performance and overall patient satisfaction. No matter how advanced medical technology has become, there remain constraints in the environment they are installed and operated in. Most large medical equipment utilizes a considerable amount of energy and thus produces a significant amount of heat. In order for these machines to operate efficiently their temperature must be managed without compromising patient comfort.</p>

    <p>Initial site research was performed by the GRC, conducting user interviews to understand pain points of installing and operating GE scanners. Once we understood the science behind the concept we conducted our own interviews and created storyboards for the prototype. Utilizing modern web technologies including three.js and Web Workers we completed a prototype that allowed users to interact, visualize and run the solution.</p>

    <p>If you are interested in hearing more, please contact me below!</p>
  </section>
