
<!-- NOM header ********************************************-->
<div class="project-headers" id="nom-header">
  <ul class="actions">
    <!-- <li><div class="button small">Previous</div></li> -->
    <li><div class="button small dismiss-project">Back to projects</div></li>
    <!-- <li><div class="button small">Next</div></li> -->
  </ul>
  <div class="row">
    <div class="12u$ 6u(medium) 12u(small) 12u$(xsmall)">
      <h4>Date</h4>
      <p>Summer 2013</p>

      <h4>Context</h4>
      <p>Design Methodology II<br>University of Cincinnati</p>
    </div>
    <div class="12u 6u(medium) 12u(small) 12u(xsmall)">
      <h4>Responsibilities</h4>
      <p>Mobile application design, video prototype production and delivering the final presentation.</p>

      <h4>Team Members</h4>
      <p>Miles Quirk (packaging, app), Christa Seta (branding, packaging)</p>
    </div>
  </div>
</div>


<!-- NiteLife header ********************************************-->
<div class="project-headers" id="nitelife-header">
  <ul class="actions">
    <li><div class="button small dismiss-project">Back to projects</div></li>
  </ul>
  <div class="row">
    <div class="12u$ 6u(medium) 12u(small) 12u$(xsmall)">
      <h4>Date</h4>
      <p>Fall 2012 - Summer 2014</p>

      <h4>Context</h4>
      <p>NiteLife is where I learned that I wanted to be a product designer and entrepreneur.</p>
    </div>
    <div class="12u 6u(medium) 12u(small) 12u(xsmall)">
      <h4>Responsibilities</h4>
      <p>Product vision, business strategy, marketing, mobile application design and development.</p>

      <h4>Team Members</h4>
      <p>Matt Regnold (co-founder), Dave Johnson (co-founder), Britney Bogard (co-founder, developer), Anna Hoop (design), Dylan Hoop (marketing)</p>
    </div>
  </div>
</div>

<!-- hsrTool header ********************************************-->
<div class="project-headers" id="hsrTool-header">
  <ul class="actions">
    <li><div class="button small dismiss-project">Back to projects</div></li>
  </ul>
  <div class="row">
    <div class="12u$ 6u(medium) 12u(small) 12u$(xsmall)">
      <h4>Date</h4>
      <p>Summer 2014</p>

      <h4>Context</h4>
      <p>A healthcare new technology prototype project through GE Global Research Center.</p>
    </div>
    <div class="12u 6u(medium) 12u(small) 12u(xsmall)">
      <h4>Responsibilities</h4>
      <p>Concept development, UI/UX design and front end development.</p>

      <h4>Team Members</h4>
      <p>Oren Ferrari (Lead Developer), Gary (Data Scientist)</p>
    </div>
  </div>
</div>

<!-- mCrew header ********************************************-->
<div class="project-headers" id="mcrew-header">
  <ul class="actions">
    <li><div class="button small dismiss-project">Back to projects</div></li>
  </ul>
  <div class="row">
    <div class="12u$ 6u(medium) 12u(small) 12u$(xsmall)">
      <h4>Date</h4>
      <p>Fall 2014</p>

      <h4>Context</h4>
      <p>First Predix Go (GE mobile platform) application for rail yard logistics.</p>
    </div>
    <div class="12u 6u(medium) 12u(small) 12u(xsmall)">
      <h4>Responsibilities</h4>
      <p>Interaction design</p>

      <h4>Team Members</h4>
      <p>Eric Stevens (interaction designer), Daniel Kim (visual designer), Andrew Parker (product owener), Aaron Mitti (architect), Richard Baker (front-end developer)</p>
    </div>
  </div>
</div>
